<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.lcw.graduation.dao.AdminDao">
    <select id="findByAccount" parameterType="String" resultType="Admin">
        select * from t_admin where account=#{account};
    </select>

    <update id="updateAdmin" parameterType="Admin">
        update t_admin set
               password = #{password},
               name = #{name},
               sex = #{sex},
               age = #{age},
               face = #{face},
               education = #{education}
        where id=#{id};
    </update>

    <select id="getAllDoctors" resultType="Doctor">
        select id, name from t_doctor;
    </select>
    <select id="getDoctorPage" resultType="DoctorVO">
        select d.id id,
               d.name name,
               sex,
               age,
               face,
               education,
               salary,
               departmentId,
               de.name departmentName
        from t_doctor d left join t_department de on(d.departmentId=de.id)
        where d.name like concat('%',#{name}, '%')
        order by d.id
        limit #{start}, #{count};
    </select>
    <select id="getDoctorPageTotal" parameterType="String" resultType="int">
        select count(id) from t_doctor
        where name like concat('%',#{name}, '%');
    </select>

    <select id="getAllDepartments" resultType="Department">
        select * from t_department;
    </select>

    <update id="updateDoctor" parameterType="Doctor">
        update t_doctor set
                        face = #{face},
                        education = #{education},
                        salary = #{salary},
                        departmentId = #{departmentId}
        where id=#{id};
    </update>

    <delete id="deleteDoctorById" parameterType="int">
        delete from t_doctor where id=#{doctorId};
    </delete>

    <insert id="insertDoctor" parameterType="Doctor" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_doctor(
            account, password, name, sex, age, face, education, salary, departmentId) values (
            #{account}, #{password}, #{name}, #{sex}, #{age}, #{face}, #{education}, #{salary}, #{departmentId});
    </insert>

    <select id="getAllRecords" resultType="RecordVO">
        select r.*, d.name doctorName from t_record r
            left join t_doctor d on (r.doctorId = d.id);
    </select>

    <select id="findExtraPageById" resultType="ExtraVO">
        select e.*, d.name name
        from t_extra e
        left join t_doctor d on(e.doctorId=d.id)
        where e.adminId=#{adminId} and d.name like concat('%',#{name}, '%')
        order by e.id
        limit #{start}, #{count};
    </select>
    <select id="findExtraTotalById" resultType="int">
        select count(e.id) from t_extra e
        left join t_doctor d on(e.doctorId=d.id)
        where adminId=#{adminId} and d.name like concat('%',#{name}, '%');
    </select>

    <insert id="insertExtra" parameterType="Extra" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_extra(money, sign, reason, doctorId, adminId)
        values(#{money}, #{sign}, #{reason}, #{doctorId}, #{adminId});
    </insert>
    <update id="updateExtra" parameterType="Extra">
        update t_extra set money=#{money}, sign=#{sign},
                           reason=#{reason}, doctorId=#{doctorId}, adminId=#{adminId}
        where id=#{id};
    </update>
    <delete id="deleteExtraById" parameterType="int">
        delete from t_extra where id=#{id};
    </delete>

    <select id="getProjectsByAdminId" parameterType="int" resultType="ProjectVO">
        select p.*, d.name name from t_project p
        left join t_doctor d on(p.doctorId = d.id)
        where adminId=#{adminId} or adminId is null;
    </select>

    <update id="updateProjectState">
        update t_project set state=#{state}, adminId=#{adminId}
        where id=#{id};
    </update>

    <insert id="insertFile" parameterType="file" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_file(oldName, newName, path, date, adminId)
        values (#{oldName}, #{newName}, #{path}, #{date}, #{adminId});
    </insert>

    <select id="findAllFiles" resultType="FileVO">
        select f.*, a.name adminName
        from t_file f left join t_admin a on (f.adminId=a.id);
    </select>

    <select id="findFileById" parameterType="int" resultType="File">
        select * from t_file where id=#{id};
    </select>

    <delete id="deleteById" parameterType="int">
        delete from t_file where id=#{id};
    </delete>
</mapper>