<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.lcw.graduation.dao.DoctorDao">

    <select id="findByAccount" parameterType="String" resultType="DoctorVO">
        select d.id id,
               account,
               password,
               d.name name,
               sex,
               age,
               face,
               education,
               salary,
               departmentId,
               de.name departmentName
        from t_doctor d left join t_department de on(d.departmentId=de.id)
        where account=#{account};
    </select>
</mapper>