<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.lcw.graduation.dao.DoctorDao">

    <select id="findByAccount" parameterType="String" resultType="DoctorVO">
        select d.id id,
               account,
               password,
               d.name name,
               sex,
               age,
               face,
               education,
               salary,
               departmentId,
               de.name departmentName
        from t_doctor d left join t_department de on(d.departmentId=de.id)
        where account=#{account};
    </select>

    <update id="updateDoctor" parameterType="DoctorVO">
        update t_doctor set
               password = #{password},
               name = #{name},
               sex = #{sex},
               age = #{age},
               face = #{face},
               education = #{education}
        where id=#{id};
    </update>

    <select id="findExtraById" parameterType="int" resultType="ExtraVO">
        select e.*, a.name name
        from t_extra e
        left join t_admin a on(e.adminId=a.id)
        where e.doctorId=#{doctorId};
    </select>

    <insert id="insertRecord" parameterType="Record" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_record(time, state, doctorId)
        values(#{time}, #{state}, #{doctorId});
    </insert>
    <select id="findRecordsById" parameterType="int" resultType="Record">
        select * from t_record where doctorId=#{doctorId};
    </select>

    <select id="findProjectsById" parameterType="int" resultType="ProjectVO">
        select p.*, a.name name
        from t_project p left join t_admin a on(p.adminId = a.id)
        where doctorId=#{doctorId} order by date desc;
    </select>

    <insert id="insertProject" parameterType="Project" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_project(description, state, date, money, doctorId)
        values(#{description}, #{state}, #{date}, #{money}, #{doctorId});
    </insert>
    <update id="updateProject" parameterType="Project">
        update t_project
        set description=#{description}, money=#{money}
        where id=#{id};
    </update>
    <delete id="deleteProjectById" parameterType="int">
        delete from t_project where id=#{id};
    </delete>

    <select id="getMedicalPage" resultType="Medical">
        select * from t_medical
        where doctorId=#{id} and name like concat('%',#{name}, '%')
        limit #{start}, #{count};
    </select>
    <select id="getMedicalPageTotal" resultType="int">
        select count(id) from t_medical
        where doctorId=#{id} and name like concat('%',#{name}, '%');
    </select>
    <insert id="insertMedical" parameterType="Medical" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_medical(`name`, `age`, `sex`, `result`, `advice`, `date`, `doctorId`)
        values(#{name}, #{age}, #{sex}, #{result}, #{advice}, #{date}, #{doctorId});
    </insert>
    <update id="updateMedical" parameterType="Medical">
        update t_medical set `name`=#{name}, `age`=#{age}, `sex`=#{sex},
                             `result`=#{result}, `advice`=#{advice}
        where id=#{id};
    </update>
    <delete id="deleteMedical" parameterType="int">
        delete from t_medical where id=#{id};
    </delete>
</mapper>