<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.lcw.graduation.dao.DoctorDao">

    <select id="findByAccount" parameterType="String" resultType="DoctorVO">
        select d.id id,
               account,
               password,
               d.name name,
               sex,
               age,
               face,
               education,
               salary,
               departmentId,
               de.name departmentName
        from t_doctor d left join t_department de on(d.departmentId=de.id)
        where account=#{account};
    </select>

    <update id="updateDoctor" parameterType="DoctorVO">
        update t_doctor set
               password = #{password},
               name = #{name},
               sex = #{sex},
               age = #{age},
               face = #{face},
               education = #{education}
        where id=#{id};
    </update>

    <select id="findExtraById" parameterType="int" resultType="ExtraVO">
        select e.id id,
               money,
               sign,
               reason,
               a.name name
        from t_extra e
        left join t_admin a on(e.adminId=a.id)
        where e.doctorId=#{doctorId};
    </select>
</mapper>